extends ../layout/index

block contenido
  .py-10 
    a(href="/") 
      h1.text-4xl.my-10.font-extrabold.text-center Bienes
        span.font-normal Raíces
    h2.text-center.text-2xl=pagina

    if errores
      .max-w-md.mx-auto.my-10
        each error in errores
          p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold=error.msg

    .mt-8.mx-auto.max-w-md
      .bg-white.py-8.px-4.shadow
        form.space-y-5(method="POST" action="/auth/registro" novalidate)
          input(type="hidden" name="_csrf" value=csrfToken)
          div 
            label.etiqueta(for="nombre") Nombre
            input#nombre.campo(
              placeholder="Tu Nombre" 
              type="text" name="nombre" 
              value=usuario?usuario.nombre:"")
          div 
            label.etiqueta(for="email") Email de Registro
            input#email.campo(
              placeholder="Tu Email" 
              type="email" name="email" 
              value=usuario?usuario.email:"")
          div 
            label.etiqueta(for="password") Password
            input#password.campo(
              placeholder="Tu Password" 
              type="password" 
              name="password")
          div 
            label.etiqueta(for="repetir_password") Repetir password
            input#repetir_password.campo(
              placeholder="Repetir Password" 
              type="password" 
              name="repetir_password")
          div.flex.items-center.justify-between
            a.text-gray-500.text-xs(href="/auth/login") Inicia Sesión
            a.text-gray-500.text-xs(href="/auth/recuperar-contrasena") Olvidé mi Password
          input.w-full.bg-indigo-600.text-white.font-bold.py-3.cursor-pointer(class="hover:bg-indigo-700" type="submit" value="Crear Cuenta")